@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

p, li {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 2.2rem;
}

a {
   text-decoration: none; 
}